<!--The content below is only a placeholder and can be replaced.-->
<home-nav></home-nav>

<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->
<agm-map [latitude]="lat" [longitude]="lng">
  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
  <agm-marker [latitude]="newLat" [longitude]="newLng"></agm-marker>
</agm-map>

<div class="center">
  <form>
<mat-form-field appearance="outline"  >
  <mat-label>Where are you going?</mat-label>
  <input #inputLocation matInput placeholder="32nd ave. bgc">
  <mat-icon matSuffix>directions</mat-icon>
  <mat-hint>be specific</mat-hint>
</mat-form-field>
  </form>
</div>

<button mat-fab (click)="find(inputLocation.value)">
  <mat-icon>directions_car</mat-icon>
</button>
<router-outlet></router-outlet>
